@import '../../globalCss/px2-rem';

.upload_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: px-to-rem(200);
  height: px-to-rem(200);
  border: 1px solid #888;
  border-radius: 6px;
  margin-top: px-to-rem(50);

  .in_put {
    display: none;
  }

  .iconfont {
    font-size: px-to-rem(60);
  }
}